@import url(https://fonts.googleapis.com/css?family=Montserrat:400);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import "font-awesome";

 // $white       : #FFFFFF;
 $ghost       : #FAFAFA;
 $snow        : #F9F9F9;
  $vapor       : #F6F6F6;
// $white-smoke : #F5F5F5;
// $silver      : #EFEFEF;
 $smoke       : #EEEEEE;
// $gainsboro   : #DDDDDD;
// $iron        : #CCCCCC;
// $base        : #AAAAAA;
// $aluminum    : #999999;
// $jumbo       : #888888;
// $monsoon     : #777777;
// $steel       : #666666;
// $charcoal    : #555555;
// $tuatara     : #444444;
 $oil         : #333333;
 $jet         : #222222;
// $black       : #000000;
$yellow : #F8EF18;
$light-yellow : #FFFA70;


.header h1 a{
  color: $yellow;
  font-family: 'Montserrat', sans-serif;
}
 ul {
 list-style-type: none;
 list-style:none;
 padding-left:0;
}
.song {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
    a {
      padding-left: 10px;
    }

}

.button {
  background-color: $jet;
  border: 2px solid #8AC007;
  border-radius: 3px;
}

.button :hover {
  background-color: $oil;
}

hr {
  background-color: #8AC007;
  height: 2px;
  border: 0;
  padding-bottom: 0px;
}

.master-control{
  padding-top: 14px;
  i {
    color: $yellow;
    padding-right: 10px;
    font-size: 26px;
  }
}

.top-bar-section {
  padding-top: 0px;
}

#slider {
  margin-top: 7px;
}

.playing {
  /*background-color: $light-yellow;*/
   background-color: #8AC007;
  color: $oil;
  a {
    color: $oil;
  }
}

#playlist {
  border: 3px solid #8AC007;
  margin-top: 18px;
}

.not-playing {

}

.top-bar-section li {
  background-color: none;
}


a {
  color: $smoke;
}

h1, h2, h3, h4, h5 {
  color: $yellow;
}

body {
  font-family: 'Lato', sans-serif;
}


.header a {
  color: $yellow;

}
.link-bar  {
  padding-right: 10px;
  float: right;
}
